html {
  font-family: "Basier Cirle", sans-serif;
  background-color: rgb(50, 57, 63);
  font-size: 62.5%;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}
